* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* font-family: 'Love Ya Like A Sister', cursive; */
    /* font-family: 'Fredoka One', cursive; */
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Pangolin', cursive; */
    /* font-family: 'Mali', cursive; */
    font-family: 'Delius Swash Caps', cursive;

}

body {
    margin: 60px auto;
    height: 100%;
    background-image: url('../image/garden.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgba(49, 40, 40, 0.322);
    width: 800px;
    height: 100%;
    border-radius: 90px/30px;
}

/* ============== Aside Section ============  */
aside {
    display: flex;
    flex-basis: 320px;
    height: 850px;
    align-items: center;
    flex-direction: column;
}

aside img:first-child {
    margin-top: 40px;
}

.logo {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(204, 172, 195);
    width: 280px;
    height: 80px;
    text-shadow: 2px 2px #0f0f0f;
    font-size: 26px;
    margin-bottom: 20px;
    background-color: rgb(13, 50, 92);
    border-radius: 30px 60px 90px;
    border: 3px solid rgb(223, 215, 221);
    letter-spacing: 2px;
}

aside button {
    display: block;
    width: 200px;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid rgb(13, 50, 92);
    box-shadow: 10px 10px 10px rgb(32, 31, 31);
    border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
    font-size: 25px;
    font-weight: 800;
    background-color: rgb(204, 172, 195);
    color: rgb(13, 50, 92);
    text-shadow: 2px 2px #a9b3c0;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
}

aside button:hover { 
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgb(63, 40, 40);
    opacity: 0.8;
}

/* ============== Aside Section ============  */

/* ================ Main Aria ================ */
.wrap {
    flex-basis: 420px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

/* ----------------------Head------------------------------- */
header {
    display: flex;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    color: rgb(13, 50, 92);
    text-shadow: 2px 2px #a9b3c0;
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 800;
}

.score-count {
    flex: 1.5;
    margin-right: 10px;
    padding: 15px 0;
    background-color: rgb(204, 172, 195);
    border-radius: 90px 60px 30px;
    border: 4px solid rgb(13, 50, 92);
}

.time-section {
    flex: 2;
    padding: 15px 0;
    background-color: rgb(204, 172, 195);
    border-radius: 30px 60px 90px;
    border: 4px solid rgb(13, 50, 92);
}
/* -----------------------Main------------------------------ */
main {
    margin: 0 auto;
    position: relative;
    width: 420px;
    height: 100%;
    border-radius: 90px/30px;
    border: 4px solid rgb(209, 214, 219);
}

.create-player-menu {
    display: none;
    margin: 0 auto;
    color: rgb(17, 12, 12);
    letter-spacing: 2px;
    font-size: 15px;
}

h2 {
    text-align: center;
    padding: 20px;
}

.form-create {
    display: flex;
    margin-bottom: 10px;
}

.input-player {
    flex: 1;
    margin-left: 15px;
    padding: 10px 0 10px 30px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 2px 2px #a3b4ca;
    border: none;
    background-color: rgb(203, 191, 207);
    color: rgb(13, 50, 92);
    border: 1px solid rgb(13, 50, 92);
    border-radius: 60px 0 0 90px;
    letter-spacing: 3px;
}

.add-player {
    margin-right: 15px;
    width: 140px;
    border-radius: 0 60px 90px 120px/120px 90px 60px 0;
    background-color: rgb(13, 50, 92);
    border: 1px solid rgb(13, 50, 92);
    color: rgb(168, 140, 177);
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.add-player:hover { 
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgb(63, 40, 40);
}

.list-player {
    display: none;
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.list-player p {
    flex: 1;
    padding: 8px 10px 8px 30px;
    margin: 0 10px;
    color: rgb(168, 140, 177);
    text-shadow: 2px 2px #232931;
    background-color: rgb(13, 50, 92);
    border-radius: 60px 90px 20px 90px;
}

.group p {
    cursor: pointer;
}

.group p:hover { 
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgb(194, 184, 184);
}

.start-game {
    margin-right: 15px;
    padding: 10px 0;
    width: 90px;
    border-radius: 120px 90px 60px 30px/30px 60px 90px 120px;
    background-color: rgb(168, 140, 177);
    border: 2px solid rgb(13, 50, 92);
    color: rgb(13, 50, 92);
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

h2 {
    color: rgb(168, 140, 177);
    text-shadow: 2px 2px #1a1a1b;
}
.start-game:hover { 
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgb(38, 28, 28);
}

.board {
    display: none;
    width: 420px;
    height: 630px;
    color: #0e0d0d;
}

.read-me {
    position: relative;
    display: none;
    height: 100%;
    width: 420px;
    padding: 30px;
    padding-right: 10px;
    color: rgb(233, 231, 116);
    text-shadow: 2px 2px #1a1a1b;
    font-size: 18px
}

.read-me h1{
    margin-bottom: 20px;
    color: rgb(168, 140, 177);
    text-shadow: 2px 2px #1a1a1b;
}

.read-me p{
    padding-bottom: 5px;
}

.read-me div{
    bottom: 20px;
    padding-left: 40px;
    position: absolute;
}



/* -----------------------Footer------------------------------ */
footer {
    display: flex;
    margin: 10px 0 20px 0;
    text-align: center;
    align-items: center;
    color: rgb(13, 50, 92);
    text-shadow: 2px 2px #a9b3c0;
    letter-spacing: 3px;
    font-size: 22px;
    font-weight: 800;
}


.player-name {
    flex: 2;
    margin-right: 10px;
    padding: 15px 0;
    background-color: rgb(204, 172, 195);
    border-radius: 60px 90px 30px;
    border: 4px solid rgb(13, 50, 92);
}

.round-section {
    flex: 1;
    padding: 15px 0;
    background-color: rgb(204, 172, 195);
    border-radius: 30px 60px 90px;
    border: 4px solid rgb(13, 50, 92);
}

.score-section {
    display: none;
}

.score-board {
    padding: 15px 0;
}

.score-board div {
    text-align: center;
    margin: 0 25px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(13, 50, 92);
    border-radius: 30px 60px 90px;
    border: 3px solid rgb(168, 140, 177);
    color: rgb(168, 140, 177);
    font-size: 20px;
}

.score-board div:hover { 
    transform: scale(1.1); 
    box-shadow: 10px 10px 10px rgb(240, 236, 236);
}

/* ================ Main Aria ================ */

.move {
    cursor: pointer;
    margin: 0 10px;
    width: 50px;
    background-size: cover;
    position: absolute;
    animation-name: drop-item;
    animation-fill-mode: forwards;
}

@keyframes drop-item {
    10% {transform: translateY(0px)}
    20% {transform: translateY(70px)}
    30% {transform: translateY(140px)}
    40% {transform: translateY(210px)}
    50% {transform: translateY(280px)}
    60% {transform: translateY(350px)}
    70% {transform: translateY(420px)}
    80% {transform: translateY(470px)}
    90% {transform: translateY(560px)}
    100% {transform: translateY(640px)}
}

.animation-4 {
    animation-duration: 4s;
}

.animation-5 {
    animation-duration: 5s;
}

.animation-7 {
    animation-duration: 7s;
}

.flash-button{
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}
